@import url("https://use.typekit.net/wuo2csx.css");
.card-title {
  justify-content: center;
  align-content: center;
}

.carouselPrincipal {
  height: 40vh;
}

.area2 img, .area3 img {
  max-width: 100vw;
  object-fit: cover;
}

.area2 {
  box-sizing: inherit;
  padding: 5%;
}
.area2 h1 {
  padding: 5%;
}

.area3 {
  height: 30%;
  max-height: fit-content;
  max-height: -moz-fit-content;
  object-fit: cover;
}

.area4 {
  margin: 10%;
}

.verMas {
  padding: 20% 15% 0% 10%;
}

.area5 {
  background-color: #F0ECE6;
  padding: 5%;
}

.area6 {
  padding: 5%;
}

.area7 {
  margin-bottom: 5%;
}

.area8 {
  background-color: #F0ECE6;
  padding: 5%;
  margin-bottom: 5%;
}

.img-fluid {
  height: 100%;
  object-fit: cover;
}

.areaCards {
  align-items: center;
  justify-content: center;
}

.formArea {
  height: 60vh;
}

.formBg {
  background-color: white;
}

.btn {
  background-color: #bdc8d5;
  border-color: #333333;
}

.navbar {
  background-color: #F0ECE6;
  display: flex;
  justify-content: space-around;
}

#logo {
  width: 30vw;
}
@media (min-width: 992px) {
  #logo {
    width: 20vw;
  }
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarNav #logoVinizio {
  width: 3em;
}
#navbarNav .nav-item {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  #navbarNav .nav-item {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  #navbarNav .nav-item {
    font-size: 1.5rem;
  }
}

#rrssCabecera {
  display: flex;
  justify-content: end;
}
#rrssCabecera .rrssIco {
  display: flex;
  width: 7vw;
  padding-left: 10%;
  padding-right: 10%;
}
@media (min-width: 992px) {
  #rrssCabecera .rrssIco {
    width: 5vw;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 1200px) {
  #rrssCabecera .rrssIco {
    width: 4vw;
  }
}
@media (min-width: 1400px) {
  #rrssCabecera .rrssIco {
    width: 3vw;
  }
}

.banner {
  height: 40vh;
  margin-bottom: 25%;
}

h1 {
  max-width: 80vw;
  text-align: center;
  transform: scale(1);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1.3);
  }
}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: "Josefin-Sans", sans-serif, 200;
}

body {
  margin: 0;
  background-color: inherit;
  max-width: 100vw;
  overflow: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  color: #333333;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10vh;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

.text-block {
  padding: 50px;
}

footer {
  background-color: #F0ECE6;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
