.card-title{
    justify-content: center;
    align-content: center;
}
.area2{
    padding: 5%;
}
.area3{
    height: 30%;
    max-height: fit-content;
    max-height: -moz-fit-content;
    object-fit: cover;
}

.area4{
    margin: 10%;
}

.verMas{
    padding: 20% 15% 0% 10%;
}
.area5{
    padding: 5%;
}
.area6{
    padding: 5%;
}