#cabecera{
    background-color: $backgroundColor2;
    flex:row;
    align-items: flex-start;
    justify-content: space-between;
    .navbar-brand{
        #logo{
            width: 50%;
            object-fit:cover;
            padding: 0% 5%;
            @media(min-width: 768px){
                width:30%;
                // cambio de tamaño de logo según el viewport
            }
            @media(min-width: 576){
                width:25%;
        }
    }
}
#cabecera{
    ul{
        li{
            text-transform: uppercase;
            display: inline-block;
            justify-content: space-around;
            #logoVinizio{
                width: 7vw;
                object-fit: cover;
            .rrssIco{
                width: 1vw;
                object-fit: cover;
                }
                }
            }
        }

    .rrssCabecera{
        @media(min-width: none){
            width:25%;
        }
    }
}
}
@media (max-width: 992px) {
    .navbar{
      display:inline-flex;
      flex-wrap: nowrap;
    }
    nav ul{
      padding:2em;
    }
    .rrssCabecera{
      flex-wrap: nowrap;
    }
  }