.navbar{
    background-color: $backgroundColor2;
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 30vw;
    @media(min-width: 992px){
        width:20vw;
    }

}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbarNav{
    #logoVinizio{
        width: 3em;
    }
    .nav-item{
        font-size: $textSm;
        @media(min-width:992px){
            font-size: $textXs;
        }
        @media(min-width:1200px){
            font-size: $textSm
        }
    }
}

#rrssCabecera{
    display: flex;
    justify-content: end;
    .rrssIco{
        display: flex;
        width: 7vw;
        padding-left: 10%;
        padding-right: 10%;
        @media(min-width: 992px){
            width:5vw;
            padding-left: 5%;
            padding-right: 5%;
        }
        @media(min-width:1200px){
            width:4vw;
        }
        @media(min-width:1400px){
            width:3vw;
        }
    }

}
