// acá definir variables globales
$backgroundColor1:white;
$backgroundColor2: #F0ECE6;
$mainColor: #333333;
$buttonColor: #bdc8d5;


// Tipografías
$mainFont: 'Josefin-Sans', sans-serif;

$textBold:400;
$textRegular:200;
$textLight:100;
$textXs: 1rem;
$textSm:1.5rem;
$textMd:2rem;
$textXl:2.5rem;
$textXxl:3rem;

    

