@import url('https://use.typekit.net/wuo2csx.css');
*{
	font-family: 'Josefin-Sans', sans-serif;
	margin: 0;
	padding: 0;
}
body{
    overflow: auto;
}
p{ 
    font-size: 5em;
}
h1{
    font-size: 12em;
}
h2{ font-size: 10em;
}
button{
    font-size: 5em;
    color: ;
}
/* Propiedades para todas las páginas */
.backgroundCream{
    background-color: #F0ECE6; 
}
.backgroundWhite{
    background-color: white;
}

nav{
    background-color: #F0ECE6;
    height: 20vh;
    margin: 0;
    /* padding: 5em; */
    /* display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center; */
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat (1, 20vh);
    grid-template-areas:
    "areaLogoCabecera areaLogoCabecera"
    "botonesCabecera botonesCabecera botonesCabecera"
    "rrssCabecera"
}
/* #cabecera{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat (1, 20vh);
    grid-template-areas:
    "areaLogoCabecera areaLogoCabecera"
    "botonesCabecera botonesCabecera botonesCabecera"
    "rrssCabecera"
} */
nav .areaLogoCabecera {
    grid-area: "areaLogoCabecera";
    width: 60vh;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    }

nav .areaLogoCabecera #logo{
    height: 90%;
    object-fit: cover;
    }
nav .botonesCabecera {
    grid-area:"botonesCabecera";
    display: inline-block;
    align-items: flex-start;
    justify-content: center;
    /* font-size: 5em;
    padding: 3em; */
}
nav .botonesCabecera ul {
    list-style:none;
    
}   

.logoVinizio{
    height: 100%;
    object-fit: cover;
}
nav .rrssCabecera{
    grid-area: "rrssCabecera";
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: row; */
}

nav .rrss-cabecera .rrssIco{
    height: 100%;
}

h1,h2,h3,p{
    color: #333333;
}
/* Propiedades de Main */
#mainGrid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: ;
    grid-template-areas: 
    "hero"
    "presentacion"
    "area1"
    "area2"
    "area3"
    "area4"
    "area5"
    "area6"
}

/* Propiedades de Secciones */
.secciones{
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 100%;
    object-fit: cover;
}
.hero {
    /* grid-template-areas: ???  */
    width: 100%;
    height: auto;
}
.heroImage{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.ContieneTexto{
    margin: 10em 10em;
    padding: 10em;
}
.presentacion{
    margin:
}
footer{
    display: flex;
    height: 1fr;
}